/*color: 
 #f5a442
 #615d57;*/

/* nav bar */

.nav_bar {
  color: #615d57;
  font-size: 24px;
  font-family: "Dancing Script", cursive;
  border-bottom: 3px solid #615d57;
}

.inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.logo {
  width: 10vw;
}

.icon {
  width: 52px;
  border-radius: 50%;
}

.inner input {
  height: 5vh;
}

.inner a {
  text-decoration: none;
  color: #615d57;
}

/* nav article */

.article_bar {
  display: flex;
  justify-content: space-around;
}

.article_bar img {
  width: 30px;
}

.article_bar p {
  font-family: "Dancing Script", cursive;
  list-style: none;
  padding-left: 10px;
}

.article_bar_container:hover {
  opacity: 0.6;
}

.article_bar a {
  color: #615d57;
  text-decoration: none;
  font-size: 20px;
}

.article_bar_container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* Article */

h2 {
  font-family: "Dancing Script", cursive;
}

.all_contents {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #615d57;
}

.article_all {
  width: 60%;
}

.article_contents {
  display: flex;
  flex-direction: column;
}

.article_content {
  display: flex;
  margin-bottom: 20px;
}

.article_content img {
  width: 10vw;
  height: 10vw;
  margin: 10px 10px;
  border-radius: 10px;
}

.article_content:hover {
  opacity: 0.6;
}

.article_content2 {
  border-top: 1px solid #615d57;
  border-bottom: 1px solid #615d57;
}

a {
  text-decoration: none;
  color: #615d57;
}

/* side */

.popular_article {
  width: 30%;
  text-align: center;
}

.popular_article h2 {
  border-bottom: 1px solid #f5a442;
  padding-bottom: 15px;
}

.popular_article h3 {
  font-size: 16px;
}

.popular_article p {
  font-size: 14px;
  margin-bottom: 30px;
}

.popular_article div {
  margin: 10px 20px;
}

.popular_article div:hover {
  opacity: 0.6;
}

.popular_article img:hover {
  opacity: 0.6;
}

.popular_article a {
  text-decoration: none;
  color: #615d57;
}
