/*color:
 #F5A442
 #615D57;*/

 body {
     color: #615D57;
     margin: 0 25px;
 }

 /*nav bar*/
.nav_bar {
    color: #615D57;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    border-bottom: 3px solid #615D57;
    margin-bottom: 3vh;
}

.inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.inner a {
    text-decoration: none;
    color: #615D57;
  }

.logo {
    width: 10vw;
}

.icon {
    width: 52px;
    border-radius: 50%;
}

.inner input {
    height: 5vh;
}

/* wrapper */
.wrapper {
    display: flex;
    margin: 0 36px;
}

.wrapper-main {
    width: 85%;
    padding-right: 3vw;
} 

.wrapper-aside {
    flex: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    border-bottom: 1px solid #615D57;
}

h3 > span {
    font-size: 0.8em;
}

/* flyer */

.wrapper-main-flyer-frame {
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}

.wrapper-main-flyer-frame:hover {
    opacity: 0.6;
    cursor: pointer;
}

.wrapper-main-flyer-frame h4 {
    align-self: center;
    font-size: 24px;
}

.wrapper-main-flyer img {
    width: 60%;
}

/* favorite */

.wrapper-main-favorite a {
    color: #615057;
}

.wrapper-main-favorite h4 {
    text-align: end;
    margin: 0;
    font-size: 16px;
    padding-right: 15px;
}

.wrapper-main-favorite-section {
    display: flex;
    justify-content: space-between;
}    

.wrapper-main-favorite-section-container {
    margin-left: 15px;
}

.wrapper-main-favorite-section-container:hover {
    opacity: 0.6;
    cursor: pointer;
}

.wrapper-main-favorite-section-container img {
    width: 17vw;
    border-radius: 10px;
}

/* signin */

.wrapper-aside-signIn {
    padding: 30px 20px;
    margin: 36px 0;
    border: 1px solid #615D57;
    width: 94%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper-aside-signIn h4 {
    margin: 0;
    margin-top: 3vh;
}

.border {
    border-bottom: 1px solid #615D57;
}

.btn {
    background-color: #F5A442;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    margin: 8px 10px 8px 8px;
}

.btn:hover {
	background-color: #F5A442;
	color: white;
    cursor: pointer;
    opacity: 0.6;
}

.wrapper-aside-ad {
    margin-top: 25px;
    text-align: center;
}

.wrapper-aside-ad:hover {
    opacity: 0.6;
}

/* footer */

footer {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.footer-inner {
    display: flex;
    justify-content: space-around;
    color: #615D57;
    border-top: 3px solid #615D57;
    padding-top: 3vh;
    margin-top: 3vh;
}

.footer-inner a {
    text-decoration: none;
    color: #615D57;
}

.footer-section-title {
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
}

.footer-section-list {
    list-style-type: none;
    padding-left: 0;
    margin-right: 54px;
}